{:deps {aero/aero {:mvn/version "1.1.6"}
        com.monkeyprojects/oci-core {:mvn/version "0.1.0-SNAPSHOT"}
        com.monkeyprojects/oci-container-instance {:mvn/version "0.1.0"}
        com.monkeyprojects/oci-lb {:mvn/version "0.1.0-SNAPSHOT"}
        com.taoensso/telemere {:mvn/version "1.0.0-beta14"}}

 :aliases
 {:dev
  {:extra-paths ["env/dev" "dev-resources"]}

  :test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}}
   :extra-paths ["test" "dev-resources"]
   :exec-fn monkey.test/all}

  :watch
  {:exec-fn monkey.test/watch}
  
  :junit
  {:exec-fn monkey.test/junit}

  :coverage
  {:exec-fn monkey.test/coverage
   :exec-args {:ns-regex ["monkey.oci.deploy.*"]}}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/deploy-inst.jar"
               :lib "com.monkeyprojects/deploy-inst"
               :version-env "LIB_VERSION"
               :scm {:url "https://github.com/monkey-projects/deploy-inst"}}}

  :install
  {:exec-fn monkey.build/jar+install}

  :publish
  {:exec-fn monkey.build/jar+deploy}

  :run
  {:exec-fn monkey.oci.deploy.cli/redeploy
   :exec-args {:config-file "dev-resources/config.edn"
               :lb-filter {:freeform-tags {:env "test"}}
               :ci-filter {:lifecycle-state "ACTIVE"
                           :freeform-tags {:env "test"}}
               :backends [{:port 80
                           :backend-set "test-web"}]}}

  :show
  {:exec-fn monkey.oci.deploy.cli/show}

  :staging
  {:exec-args {:ci-config-file "dev-resources/staging.edn"
               :backends [{:port 8080
                           :backend-set "staging-website"}
                          {:port 8081
                           :backend-set "staging-gui"}]}}}}
